<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FMeta_Analysis.FormState" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FMeta_Analysis.Meta-settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FMeta_Analysis.FormState>
            <setting name="Log" serializeAs="String">
                <value />
            </setting>
            <setting name="Init_status" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="commandColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="foreColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="timeAutosave" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SaverFolder" serializeAs="String">
                <value />
            </setting>
        </FMeta_Analysis.FormState>
        <FMeta_Analysis.Meta-settings>
            <setting name="DocumentName" serializeAs="String">
                <value />
            </setting>
        </FMeta_Analysis.Meta-settings>
    </userSettings>
</configuration>